
<div ng-controller="UsersController">
    <h2 class="page-header">Users</h2>
    <div class="row grid-info">
    <button class="white-btn pull-right" data-toggle="modal" data-target="#addUser">Add User</button>
    </div>
    <div class="row">
        <div class="grid" ui-grid="gridOptions" ui-grid-edit></div> <!--ui-grid-row-edit ui-grid-edit ui-grid-cellNav></div>-->
    </div>

    <!-- Modal -->
    <div id="addUser" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <form name="form" novalidate>
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6" >
                                <label for="fname">First Name</label>
                                <input name="fnamee" type="text" class="form-control" ng-model="newUser.FName" placeholder="First Name" value="" required />
                                <!--<span style="color:red" ng-show="form.fname.$dirty && form.fname.$invalid">
                                    <span ng-show="form.fname.$error.required">First Name is required.</span>
                                </span>-->
                                <!--<div ng-messages="form.$submitted && form.fnamee.$error" class="help-block">
                                    <div ng-message="required">First Name is required</div>
                                </div>-->
                                <span style="color:red" ng-show="form.fnamee.$touched && form.fnamee.$error && form.fnamee.$pristine" class="help-block">First Name is required.</span>
                            </div>
                            <div class="form-group col-md-6" >
                                <label for="lname">Last Name</label>
                                <input name="lnamee" type="text" class="form-control" ng-model="newUser.LName" placeholder="Last Name" required />
                                <!--<span style="color:red" ng-show="form.lname.$dirty && form.lname.$invalid">
                                    <span ng-show="form.lname.$error.required">Last Name is required.</span>
                                </span>-->
                                <!--<div ng-messages="form.$submitted && form.lnamee.$error" class="help-block">
                                    <div ng-message="required">Last Name is required</div>
                                </div>-->
                                <span style="color:red" ng-show="form.lnamee.$touched && form.lnamee.$error && form.lnamee.$pristine" class="help-block">Last Name is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" >
                                <label for="desc">Description</label>
                                <input name="descc" type="text" class="form-control" ng-model="newUser.Desc" placeholder="Description" required />
                                <!--<span style="color:red" ng-show="form.desc.$dirty && form.desc.$invalid">
                                    <span ng-show="form.desc.$error.required">Description is required.</span>
                                </span>-->
                                <!--<div ng-messages="form.$submitted && form.descc.$error" class="help-block">
                                    <div ng-message="required">Description is required</div>
                                </div>-->
                                <span style="color:red" ng-show="form.descc.$touched && form.descc.$error && form.descc.$pristine" class="help-block">Description is required.</span>
                            </div>
                            <div class="form-group col-md-6" >
                                <label for="empID">Employee ID</label>
                                <input name="empidd" type="text" class="form-control" ng-model="newUser.EmpID" placeholder="Employee ID" required min="0" step="1" />
                                <!--<span style="color:red" ng-show="form.empid.$dirty && form.empid.$invalid">
                                    <span ng-show="form.empid.$error.required">Employee ID is required.</span>
                                </span>-->
                                <!--<div ng-messages="form.$submitted && form.empidd.$error" class="help-block">
                                    <div ng-message="required">Employee ID is required</div>
                                </div>-->
                                <span style="color:red" ng-show="form.empidd.$touched && form.empidd.$error && form.empidd.$pristine" class="help-block">Employee ID is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" >
                                <label for="userRoleNo">User Role</label>
                                <select name="urnoo" ng-model="newUser.UserTypeNo" class="form-control" placeholder="User Role No" required>
                                    <option ng-repeat="u in UserTypeList" value="{{u.id}}">{{u.UserTypeName}}</option>
                                </select>
                                <!--<span style="color:red" ng-show="form.urno.$dirty && form.urno.$invalid">
                                    <span ng-show="form.urno.$error.required">User Role No is required.</span>
                                </span>-->
                                <!--<div ng-messages="form.$submitted && form.urnoo.$error" class="help-block">
                                    <div ng-message="required">User Role is required</div>
                                </div>-->
                                <span style="color:red" ng-show="form.urnoo.$touched && form.urnoo.$error && form.urnoo.$pristine" class="help-block">User Role is required.</span>
                            </div>
                            <div class="form-group col-md-6" >
                                <label for="dept">Department</label>
                                <select name="deptnoo" ng-model="newUser.DeptNo" class="form-control" placeholder="Department No" required>
                                    <option ng-repeat="d in DepartmentList" value="{{d.id}}">{{d.DeptName}}</option>
                                </select>
                                <!--<span style="color:red" ng-show="form.deptno.$dirty && form.deptno.$invalid">
                                    <span ng-show="form.deptno.$error.required">Department No is required.</span>
                                </span>-->
                                <!--<div ng-messages="form.$submitted && form.deptnoo.$error" class="help-block">
                                    <div ng-message="required">Department is required</div>
                                </div>-->
                                <span style="color:red" ng-show="form.deptnoo.$touched && form.deptnoo.$error && form.deptnoo.$pristine" class="help-block">Department is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" >
                                <label for="loginID">Login ID</label>
                                <input name="loginidd" type="text" class="form-control" ng-model="newUser.LoginID" placeholder="Login ID" required />
                                <!--<span style="color:red" ng-show="form.loginid.$dirty && form.loginid.$invalid">
                                    <span ng-show="form.loginid.$error.required">Login ID is required.</span>
                                </span>-->
                                <!--<div ng-messages="form.$submitted && form.loginidd.$error" class="help-block">
                                    <div ng-message="required">Login ID is required</div>
                                </div>-->
                                <span style="color:red" ng-show="form.loginidd.$touched && form.loginidd.$error && form.loginidd.$pristine" class="help-block">Login ID is required.</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Password</label>
                                <input name="pswdd" type="text" class="form-control" ng-model="newUser.Password" placeholder="Password" required />
                                <!--<span style="color:red" ng-show="form.pswd.$dirty && form.pswd.$invalid">
                                    <span ng-show="form.pswd.$error.required">Password is required.</span>
                                </span>-->
                                <!--<div ng-messages="form.$submitted && form.pswdd.$error" class="help-block">
                                    <div ng-message="required">Password is required</div>
                                </div>-->
                                <span style="color:red" ng-show="form.pswdd.$touched && form.pswdd.$pristine && form.pswdd.$error" class="help-block">Password is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="form.$valid && addUser(newUser)" class="btn btn-default"
                                ng-disabled="form.$invalid">Add</button>
                                <!--form.fnamee.$dirty && form.fnamee.$invalid ||
                                form.lnamee.$dirty && form.lnamee.$invalid ||
                                form.descc.$dirty && form.descc.$invalid ||
                                form.empidd.$dirty && form.empidd.$invalid ||
                                form.urnoo.$dirty && form.urnoo.$invalid ||
                                form.deptnoo.$dirty && form.deptnoo.$invalid ||
                                form.loginidd.$dirty && form.loginidd.$invalid ||
                                form.pswdd.$dirty && form.pswdd.$invalid"-->
                                
                        <button type="button" class="btn btn-default" ng-click="ClearFormContent()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
